.world-time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.world-time-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20rem;

  &:nth-child(3) {
    h3,
    time {
      transform: scale(1.3);
      font-weight: bold;
    }
  }
}
